# ========== UNITY ==========
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
[Mm]emoryCaptures/
[Rr]ecordings/
ServerData/

# IDE
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.vscode/


# MAC
.DS_Store

# BUILDS
*.apk
*.aab
*.app
*.unitypackage
